In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [3]:
path = "C:\\Users\\mayan\\Downloads\\Train.csv"
df = pd.read_csv(path ,encoding= 'latin-1')

In [4]:
df.head()

,ï»¿ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ï»¿ID                10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
 11  Reached.on.Time_Y.N  10999 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.0+ MB

In [7]:
df.rename(columns={"ï»¿ID": "id"} , inplace= True)

In [10]:
df.drop(columns=["id"] , inplace = True)

In [11]:
df.describe()

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
count,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000
mean,4.054459,2.990545,210.196836,3.567597,13.373216,3634.016729,0.596691
std,1.141490,1.413603,48.063272,1.522860,16.205527,1635.377251,0.490584
min,2.000000,1.000000,96.000000,2.000000,1.000000,1001.000000,0.000000
25%,3.000000,2.000000,169.000000,3.000000,4.000000,1839.500000,0.000000
50%,4.000000,3.000000,214.000000,3.000000,7.000000,4149.000000,1.000000
75%,5.000000,4.000000,251.000000,4.000000,10.000000,5050.000000,1.000000
max,7.000000,5.000000,310.000000,10.000000,65.000000,7846.000000,1.000000

In [13]:
df.columns

Index(['Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms',
       'Reached.on.Time_Y.N'],
      dtype='object')

In [14]:
df.columns = df.columns.str.lower()

In [18]:
df.shape

(10999, 11)

In [20]:
df.isnull().sum()

warehouse_block        0
mode_of_shipment       0
customer_care_calls    0
customer_rating        0
cost_of_the_product    0
prior_purchases        0
product_importance     0
gender                 0
discount_offered       0
weight_in_gms          0
reached.on.time_y.n    0
dtype: int64

In [25]:
def information ():
    for col in df.columns:
        print(df[col].name)
        print(df[col].unique())
        print(df[col].nunique())
information()

warehouse_block
['D' 'F' 'A' 'B' 'C']
5
mode_of_shipment
['Flight' 'Ship' 'Road']
3
customer_care_calls
[4 2 3 5 6 7]
6
customer_rating
[2 5 3 1 4]
5
cost_of_the_product
[177 216 183 176 184 162 250 233 150 164 189 232 198 275 152 227 143 239
 145 161 156 211 251 225 172 234 266 257 223 149 137 181 215 269 139 174
 151 210 169 160 190 141 165 170 203 246 238 193 221 179 105 261 202 109
 158 231 206 187 230 113 180 132 217 197 185 278 229 186 286 175 219 213
 235 271 144 218 263 168 265 205 252 222 220 147 200 224 247 280 157 207
 237 264 248 191 146 135  98  97 114 112 274 166 148 270 242 192 116 255
 209 134 130 133 140 136 142 154 155 127 129 159 294 226 258 241 208 182
 115 212 171 249 243 163 272 138 273 279 173 194 262 201 260 188 267 131
 122 103 199 236 167 259 178 123 124  96 244 254 128 204 245 228 268 108
 276 214 281 253 104 240 121 153 111 117 195 110 119 196 291 118 283 100
 256 285 284 101 296 277 106 282 126 102 120  99 125 107 301 290 310 308
 300 303 306 292 293 295 304 298 305 287 309 302 307 289 297 299 288]
215
prior_purchases
[ 3  2  4  6  5  7 10  8]
8
product_importance
['low' 'medium' 'high']
3
gender
['F' 'M']
2
discount_offered
[44 59 48 10 46 12  3 11 29 32  1 43 45  6 36 18 38 51  2 28 24 31 61 22
  4 62 16 56 15  9 40 37 41 17 64 52 49 39 14 33 21 13 23 26 57  7 35  8
  5 53 55 47 65 25 50 60 20 19 63 58 34 54 27 42 30]
65
weight_in_gms
[1233 3088 3374 ... 1086 1649 1098]
4034
reached.on.time_y.n
[1 0]
2

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   warehouse_block      10999 non-null  object
 1   mode_of_shipment     10999 non-null  object
 2   customer_care_calls  10999 non-null  int64
 3   customer_rating      10999 non-null  int64
 4   cost_of_the_product  10999 non-null  int64
 5   prior_purchases      10999 non-null  int64
 6   product_importance   10999 non-null  object
 7   gender               10999 non-null  object
 8   discount_offered     10999 non-null  int64
 9   weight_in_gms        10999 non-null  int64
 10  reached.on.time_y.n  10999 non-null  int64
dtypes: int64(7), object(4)
memory usage: 945.4+ KB

In [29]:
df.rename(columns={"reached.on.time_y.n" : "reached_ontime"}, inplace= True)

In [30]:
df["warehouse_block"].value_counts()

warehouse_block
F    3666
D    1834
A    1833
B    1833
C    1833
Name: count, dtype: int64

In [31]:
df.to_csv("Wallmart_dataset.csv")